.header {
	background-color: #1EAAF1;
	height: 50px;
	width: 100%;
	line-height: 50px;
	padding-left: 15px;
	font-size: 20px;
	font-weight: bold;

	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.header span, .header img{
	display: inline-block;
	margin-left: 15px;
}

.header .spacer{
	flex: 1 1 auto;
	align-self: auto;
}

.header .count{
	display: inline-block;;
	float: right;
	font-weight: bold;
	color: black;
	margin-right:15px;
	padding: 5px;
	line-height: 16px;
	border-radius: 5px;
	border: 2px solid black;
}
